* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: dashed red;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient( rgb(48, 62, 143), rgb(47, 150, 163)); */
    font-family: sans-serif;
    /* color: white; */
}

.catalina-mountains {
    outline: dashed skyblue;
    border: dashed red;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.city-of-tucson {
    outline: dashed skyblue;
    border: dashed red;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.tucson-title {
    outline: dashed skyblue;
    border: dashed red;
}

.weather-icon-p {
    outline: dashed skyblue;
    border: dashed red;
}

.tucson-title {
    outline: dashed skyblue;
    border: dashed red;
}

.temperature-degree_div {
    outline: dashed skyblue;
    border: dashed red;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.temperature-degree_value {
    font-size: 40px;
}

.temperature-degree_unit {
    outline: dashed skyblue;
    border: dashed red;
    margin: 10px;
    font-size: 30px;
}

.temperature-description {
    outline: dashed skyblue;
    border: dashed red;
}